<div align="center" style="background-color:greenyellow">
<h1 align="center">
  {{title}}
</h1>
</div>

<div *ngFor="let hotelspage of hotelsPages" align="center" height="20%" style="background-color: indianred">
<h2>
  <div *ngFor="let member of hotelspage.content" class="tablelike">
    City: {{ member.city.name }}<br/>
    State: {{member.city.state}}<br/>
    Country: {{member.city.country}}<br/>
    Coordinates: {{member.city.map}}<br/>
  <ul>
    <li align="left" style="background-color:gold;width:70%">Hotel Name: {{member.name}} </li><br/>
    <li align="left" style="background-color:gold;width:70%">Hotel Address : {{member.address}} </li><br/>
    <li align="left" style="background-color:gold;width:70%">Hotel Zip : {{member.zip}} </li><br/>
  </ul>
  </div>
</h2>
</div>

